.LogIn{
    background-image: url('https://img.freepik.com/free-photo/winter-mountains-remnants-snow-spring-coniferous-forest_406679-288.jpg?w=2000');
    background-repeat: no-repeat;
}
.login-from{
    background-color: rgba(0, 0, 0, 0);
}