.input-filed{
    background-color: rgba(0,0,0,0);
    color: #FFF;
    border: 1px solid rgb(142, 138, 138);
}
.stay-update{
    background-image: url("https://img.freepik.com/free-vector/blue-orange-gradient-dynamic-fluid-background_67845-1480.jpg");
    background-repeat: no-repeat;
}